mlruns/
mlartifacts/
lightning_logs/
data/*/*
out/
debug.log

bin_for_redundant_checkpoints/
*/bin_for_redundant_checkpoints/
**/bin_for_redundant_checkpoints/

__pycache__/
*/__pycache__/
**/__pycache__/

saved_models/
*/saved_models/
**/saved_models/